<footer class="border-top mt-3">
    <div class="mt-3 mb-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos et culpa pariatur magnam quis, neque
            tempore
            vero nihil nostrum corporis ipsam mollitia, ad cum, adipisci debitis animi voluptates incidunt dolor?
        </p>
        <a class="text-decoration-none border border-dark p-1 bg-dark text-white"
            href="https://www.facebook.com/">Facebook</a>
        <a class="text-decoration-none border border-dark p-1 bg-dark text-white"
            href="https://www.instagram.com/">Instagram</a>
        <a class="text-decoration-none border border-dark p-1 bg-dark text-white"
            href="https://www.google.ro/">Google</a>
    </div>
</footer>