<header>
    <div class="clearfix container mt-3">
        <img class="rounded float-start" src="images/mos-nicolae.jpg" alt="Mos Nicolae" width="300px"
            height="180px">
        <img class="rounded float-end" src="images/mos-craciun.jpg" alt="Mos Craciun" width="300px" height="180px">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eaque enim ullam veritatis! Cupiditate,
            cum
            placeat repellat tempore, iusto ut mollitia, animi ullam iste quam eligendi laboriosam dicta quo
            voluptatem.
        </p>
    </div>
</header>